.cards-mini {
  width: 100%;
  background: var(--primary-color);
}

.cards-mini ul li {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-mini ul li.empty-list {
  padding: 10px 0;
  font-size: 14px;
}

.cards-mini ul li.empty-list span {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0.6;
}

.cards-mini ul li a::before {
  content: '';
  min-width: 60px;
}

.cards-mini ul li a {
  color: #fff;
  opacity: 0.6;
  font-size: 12px;
}

.cards-mini ul li a:hover {
  opacity: 1;
}

.cards-mini ul li .edit-button {
  background: transparent;
  outline: 0;
  margin-right: 15px;
  border: 0;
}

.cards-mini ul li .edit {
  color: #fff;
  opacity: 0.6;
  display: flex;
}

.cards-mini ul li .edit-button :hover {
  opacity: 1;
  cursor: pointer;
}
