.currency-card {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  max-width: fit-content;
  min-width: 25%;
  padding: 0.5rem;
  color: var(--text-color);
}

.currency-card .content-wrapper {
  margin-top: 0.3rem;
}

.currency-card .content-wrapper .rate-content {
  font-size: 14px;
}

.currency-card .content-wrapper .rate-content > div {
  display: flex;
  margin: 0.5rem 0;
}

.currency-card .content-wrapper .rate-content > div > p:last-child {
  font-weight: 600;
  background: var(--primary-color-light);
  padding: 0 0.3rem;
  border-radius: 3px;
}
