.fuel-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.fuel-form .fields-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.fuel-form .fields-wrapper .inputs-wrapper {
  display: flex;
}

.fuel-form .fields-wrapper .inputs-wrapper .single-input {
  margin-right: 10px;
}

.fuel-form .fields-wrapper button.remove {
  font-size: 17px;
  box-shadow: var(--small-btn-shadow);
}

.fuel-form .buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
}

.fuel-form .buttons-wrapper button.add {
  margin-right: 10px;
  font-size: 17px;
  box-shadow: var(--small-btn-shadow);
}

.fuel-form .buttons-wrapper button.submit {
  box-shadow: var(--big-btn-shadow);
}

.fuel-form .buttons-wrapper button.submit:hover {
  background: var(--primary-color);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .fuel-form .fields-wrapper .inputs-wrapper {
    flex-direction: column;
  }

  .fuel-form .fields-wrapper .inputs-wrapper .single-input {
    margin-top: 10px;
  }
}
