.fuel-table {
  padding: 0.8rem 0;
  width: 100%;
}

.fuel-table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.fuel-table table tr {
  transition: var(--tran-03);
}

.fuel-table table tr th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

.fuel-table table tr th,
.fuel-table table tr td {
  padding: 5px 10px;
  color: var(--text-color);
  font-size: 12px;
}

.fuel-table table tr:hover {
  background: var(--primary-color-light);
}

/*no response style*/
.fuel-table table tr td .empty-response {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color);
}

/**/
.fuel-table table .last-cell {
  display: flex;
  justify-content: flex-end;
}

.fuel-table table .last-cell button {
  background: transparent;
  outline: 0;
  border: 0;
  transition: var(--tran-03);
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: var(--small-btn-shadow);
}

.fuel-table table .last-cell button:hover {
  box-shadow: var(--small-btn-shadow);
  background: var(--primary-color);
  color: #fff;
}
