.invoice-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-container {
  display: flex;
  width: 100%;
}

.wrapper-container .currency-wrapper {
  padding: 1rem 0.5rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: fit-content;
  border-radius: 5px;
  margin-top: 0.5rem;
  min-width: fit-content;
}

.wrapper-container .currency-wrapper .currency-card {
  margin-top: 0.5rem;
  color: var(--text-color);
  z-index: 1001;
}

.wrapper-container .currency-wrapper .currency-card .content-wrapper {
  margin-top: 0.3rem;
}

.wrapper-container .rate-content,
.wrapper-container .invoice-component {
  font-size: 14px;
}

.wrapper-container .rate-content > div,
.wrapper-container .invoice-component .invoice-values > div {
  display: flex;
  margin: 0.5rem 0;
}

.wrapper-container .invoice-component .invoice-values > div {
  padding-left: 0.2rem;
}

.wrapper-container .rate-content > div > span,
.wrapper-container .invoice-component .invoice-values > div > span {
  font-weight: 600;
  background: var(--primary-color-light);
  padding: 0 0.3rem;
  border-radius: 3px;
}

.wrapper-container .select-wrapper .invoice-values.empty,
.wrapper-container .select-wrapper .invoice-values.loading {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  font-weight: 700;
}

.wrapper-container .select-wrapper {
  padding: 1rem 0.5rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;

  min-width: fit-content;
}

.wrapper-container .select-wrapper .primary-input {
  max-width: fit-content;
}

.invoice-copy {
  display: flex;
  align-items: center;
}

.invoice-copy .copy-text {
  white-space: pre-wrap;
  background: var(--primary-color-light);
  padding: 0.4rem 0.4rem 0.4rem 0.2rem;
  border-radius: 5px;
  font-weight: 600;
  color: var(--text-color);
}

.invoice-copy .copy-button {
  margin-left: 0.3rem;
  min-width: 55px;
}

@media screen and (max-width: 768px) {
  .wrapper-container .rate-content > div {
    display: flex;
    flex-direction: column;
  }

  .wrapper-container .rate-content > div > span,
  .wrapper-container .select-wrapper .invoice-values > div > span {
    padding: 0.3rem 0;
  }

  .wrapper-container .select-wrapper .invoice-values > div {
    display: flex;
    flex-direction: column;
  }

  .invoice-copy {
    flex-direction: column;
  }
}
