.sidebar-nav {
  background: var(--sidebar-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 210px;
  transition: var(--tran-05);
}

/* ==== toggled navbar ==== */
.sidebar-nav.hide {
  width: 88px;
}

.sidebar-nav.hide section .logo-wrapper span {
  visibility: hidden;
  opacity: 0;
}

.sidebar-nav.hide .upper-part .toggle-wrapper button {
  transform: translateY(0%) rotate(0deg);
  transition: var(--tran-05);
}

/**/

.sidebar-nav .upper-part {
  display: flex;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.sidebar-nav .upper-part .logo-wrapper {
  display: flex;
  align-items: center;
}

.sidebar-nav section .logo-wrapper img {
  width: 40px;
  border-radius: 5px;
}

.sidebar-nav section .logo-wrapper span {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  opacity: 1;
  transition: var(--tran-03);
}

.sidebar-nav .upper-part .toggle-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: -10px;
  height: 100%;
}

.sidebar-nav .upper-part .toggle-wrapper button {
  background: transparent;
  outline: 0;
  border: 0;
  color: #fff;
  border-radius: 50%;
  transform: translateY(0%) rotate(180deg);
  transition: var(--tran-05);
}

.sidebar-nav .upper-part .toggle-wrapper button:hover {
  cursor: pointer;
}

.sidebar-nav .upper-part .toggle-wrapper button .icon {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--primary-color);
}
