@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    --body-color: #f4faf3;
    --sidebar-color: #fff;
    --primary-color: #3d7f3a;
    --font-color: #707070;
    --font-color2: #e4f4e4
*/

:root {
    
    /* ===== Colors ===== */
    --body-color: #f4faf3;
    --sidebar-color: #FFF;
    --primary-color: #3d7f3a;
    --primary-color-light: #e4f4e4;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background: var(--body-color);
}